<div class="col-md-3">
    <a href="/admin/banner"><button class="btn btn-info form-control mt-2">Banner Managment</button></a>
    <a href="/admin/service"><button class="btn btn-info form-control mt-2">Service Managment</button></a>
    <a href="/admin/testi"><button class="btn btn-info form-control mt-2">Testinominals Managment</button></a>
    <a href="/admin/address"><button class="btn btn-info form-control mt-2">Address Managment</button></a>
    <a href="/admin/query"><button class="btn btn-info form-control mt-2">Query Managment</button></a>
</div>